<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>浓缩咖啡</string>
		<key>quantity</key>
		<string>100</string>
	</dict>
	<dict>
		<key>description</key>
		<string>星冰乐</string>
		<key>quantity</key>
		<string>100</string>
	</dict>
	<dict>
		<key>description</key>
		<string>咖啡和茶</string>
		<key>quantity</key>
		<string>100</string>
	</dict>
	<dict>
		<key>description</key>
		<string>星巴克美食</string>
		<key>quantity</key>
		<string>100</string>
	</dict>
	<dict>
		<key>description</key>
		<string>星巴克茶</string>
		<key>quantity</key>
		<string>100</string>
	</dict>
</array>
</plist>
