<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sn</key>
		<string>DRKCOL0004PDT0003</string>
		<key>categories</key>
		<string>浓缩咖啡</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>冰拿铁</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0004</string>
		<key>categories</key>
		<string>浓缩咖啡</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>卡布奇诺</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0001</string>
		<key>categories</key>
		<string>浓缩咖啡</string>
		<key>price</key>
		<string>31.00</string>
		<key>description</key>
		<string>焦糖玛奇朵</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>浓缩咖啡</string>
		<key>price</key>
		<string>22.00</string>
		<key>description</key>
		<string>美式咖啡</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0003</string>
		<key>categories</key>
		<string>浓缩咖啡</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>拿铁</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>浓缩咖啡</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>浓缩咖啡</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>浓缩咖啡</string>
		<key>price</key>
		<string>30.00</string>
		<key>description</key>
		<string>浓缩康保蓝</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0001</string>
		<key>categories</key>
		<string>浓缩咖啡</string>
		<key>price</key>
		<string>31.00</string>
		<key>description</key>
		<string>浓缩玛奇朵</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0005</string>
		<key>categories</key>
		<string>浓缩咖啡</string>
		<key>price</key>
		<string>30.00</string>
		<key>description</key>
		<string>摩卡</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0002</string>
		<key>categories</key>
		<string>浓缩咖啡</string>
		<key>price</key>
		<string>30.00</string>
		<key>description</key>
		<string>香草拿铁</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0004PDT0001</string>
		<key>categories</key>
		<string>浓缩咖啡</string>
		<key>price</key>
		<string>31.00</string>
		<key>description</key>
		<string>冰焦糖玛奇朵</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0004PDT0006</string>
		<key>categories</key>
		<string>浓缩咖啡</string>
		<key>price</key>
		<string>22.00</string>
		<key>description</key>
		<string>冰美式咖啡</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0004PDT0005</string>
		<key>categories</key>
		<string>浓缩咖啡</string>
		<key>price</key>
		<string>30.00</string>
		<key>description</key>
		<string>冰摩卡</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0004PDT0002</string>
		<key>categories</key>
		<string>浓缩咖啡</string>
		<key>price</key>
		<string>30.00</string>
		<key>description</key>
		<string>冰香草拿铁</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0004PDT0004</string>
		<key>categories</key>
		<string>浓缩咖啡</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>冰卡布奇诺</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0005PDT0004</string>
		<key>categories</key>
		<string>星冰乐</string>
		<key>price</key>
		<string>30.00</string>
		<key>description</key>
		<string>焦糖咖啡星冰乐</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0005PDT0002</string>
		<key>categories</key>
		<string>星冰乐</string>
		<key>price</key>
		<string>26.00</string>
		<key>description</key>
		<string>咖啡星冰乐</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0006PDT0005</string>
		<key>categories</key>
		<string>星冰乐</string>
		<key>price</key>
		<string>32.00</string>
		<key>description</key>
		<string>可可碎片星冰乐</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0005PDT0003</string>
		<key>categories</key>
		<string>星冰乐</string>
		<key>price</key>
		<string>30.00</string>
		<key>description</key>
		<string>摩卡星冰乐</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0005PDT0004</string>
		<key>categories</key>
		<string>星冰乐</string>
		<key>price</key>
		<string>30.00</string>
		<key>description</key>
		<string>浓缩咖啡星冰乐</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>星冰乐</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>焦糖星冰乐</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0006PDT0003</string>
		<key>categories</key>
		<string>星冰乐</string>
		<key>price</key>
		<string>30.00</string>
		<key>description</key>
		<string>抹茶星冰乐</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0006PDT0002</string>
		<key>categories</key>
		<string>星冰乐</string>
		<key>price</key>
		<string>28.00</string>
		<key>description</key>
		<string>巧克力星冰乐</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0006PDT0001</string>
		<key>categories</key>
		<string>星冰乐</string>
		<key>price</key>
		<string>28.00</string>
		<key>description</key>
		<string>香草星冰乐</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0007PDT0001</string>
		<key>categories</key>
		<string>星冰乐</string>
		<key>price</key>
		<string>28.00</string>
		<key>description</key>
		<string>芒果西番莲果茶星冰乐</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0003PDT0008</string>
		<key>categories</key>
		<string>咖啡和茶</string>
		<key>price</key>
		<string>20.00</string>
		<key>description</key>
		<string>密斯朵咖啡</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0003PDT0006</string>
		<key>categories</key>
		<string>咖啡和茶</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>冰调制咖啡</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0003PDT0006</string>
		<key>categories</key>
		<string>咖啡和茶</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>星巴克伯爵红茶</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0003PDT0001</string>
		<key>categories</key>
		<string>咖啡和茶</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>星巴克英式红茶</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>咖啡和茶</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>星巴克抹茶拿铁</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>咖啡和茶</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>英式红茶拿铁</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>咖啡和茶</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>冰摇茶</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>咖啡和茶</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>冰摇柠檬茶</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>咖啡和茶</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>经典热巧克力</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>咖啡和茶</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>牛奶</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>咖啡和茶</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>经典冰巧克力</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>咖啡和茶</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>豆奶</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>星巴克美食</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>蜂蜜提子司康</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>星巴克美食</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>蜜提吐司</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>星巴克美食</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>火腿芝士可颂</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>星巴克美食</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>蓝莓丹麦酥</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>星巴克美食</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>经典玉桂卷</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>星巴克美食</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>全麦火鸡芝士三明治</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>星巴克美食</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>巧克力丹麦酥</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>星巴克美食</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>法式可颂</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>星巴克美食</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>特浓巧克力布朗尼</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>星巴克美食</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>星巴克经典提拉米苏</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>星巴克美食</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>蜂蜜提子司康</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>星巴克茶</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>星巴克白牡丹茶</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>星巴克茶</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>星巴克金萱乌龙茶</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>星巴克茶</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>星巴克碧螺春绿茶</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>星巴克茶</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>伯爵红茶</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sn</key>
		<string>DRKCOL0002PDT0006</string>
		<key>categories</key>
		<string>星巴克茶</string>
		<key>price</key>
		<string>27.00</string>
		<key>description</key>
		<string>英式红茶</string>
		<key>quantity</key>
		<string>10</string>
	</dict>
</array>
</plist>
